<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

     <ul class="navbar-nav navbar-toggler-right">
      <li class="nav-item">
        <span class="navbar-text">{{ username }}</span>
      </li>
      <li class="nav-item ">
        <a class="nav-link" (click)="logout()">
          logout
           <svg class="icon icon-flickr2"><use xlink:href="#icon-flickr2"></use></svg> 
        </a>
      </li>
    </ul>

  <a class="navbar-brand" href="#">Flickr Gallery</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
   
    <!-- <form class="form-inline my-2 my-lg-0">
      li
      <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
    <!-- </form> -->
  </div>

</nav>