
.btn {
    display: flex;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 0.3em;
    fill: white;
    align-self: center;
} 

.signin {
    position: absolute;
    top:40%;
    left: 0;
    right: 0;
    max-width: 25em;
    margin: auto;
}