%svg-common {
	background: url("svg/sprite.css-5e90c3ed.svg") no-repeat;
}

.svg-exit {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-exit-dims {
	width: 32px;
	height: 32px;
}

.svg-flickr2 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-flickr2-dims {
	width: 32px;
	height: 32px;
}

